.App {
  /*text-align: center;*/
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  /*height: 150px;*/
  padding: 20px;
  color: white;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.books-list,
.book-page {
  padding: 20px;
}

.book-list-item {
  margin-bottom: 20px;
  border-bottom: 1px solid #000;
  padding-bottom: 20px;
}

.book-list-item:after {
  display: block;
  clear: both;
  content: '';
}

.book-list-item-thumb {
  width: 150px;
  float: left;
  margin-right: 10px;
}

.same-author-link:after {
  display: inline-block;
  margin-right: 5px;
  content: ',';
}

.same-author-link:last-child:after {
  content: '';
  margin-right: 0;
}